
@media screen and (min-width: 552px) {

body p { 
    font-size: 16px; 
} 

header { 
    flex-wrap: nowrap;
    height:96px;
    width: 100%;
}
            
     
body {
    font-size: 16px; 
    color: #2d2d2d;
} 
    
    
.logoContainer { 
    justify-content: center;
}
    
nav {
    order: 2;
    align-self:  center;
    margin-left: -53px;
}

nav ul { 
    border-top: none;
}
    
nav li { 
    padding: 5px;
}

.cartContainer{
    order: 3;
    height:86px;
}

.container { 
 margin-top:96px;
}


.hero { 
    background-size: cover, 148px, cover;
    height:400px;
}
   

.hero p {
    top: 37%;
    left: 53%;
}

.hero h1 {
    top: 49%;
    width: 426px;
    left: 13%;
    font-size: 2.8rem;
}


.breakmobile  { 
    display: none;
}


.tabletbreak {
    display: inline-block;
}
   
.products-container:before {
    content:"";
    display: block;
    padding-top: 50%;
}
    

    
.categories-row-or-col { 
    display: flex;
    flex-direction: row;
    flex: 1 0;
}

    
.product {
    font-size: 28px;
}


.products-title { 
    padding-top: 53px;
    padding-bottom:0px;
    margin-bottom: 100px;
} 
        


.carousel-cell { 
    width: 50%;
}
        
.productname { 
    left: 50%;
    line-height: 1;
    width: 55%;
    margin-left: 65px;
    margin-top: 5px;
}


.categories { 
    margin-top: -18px;
}

.price {    
    margin-top: 18px;
}


.sign-up-container {  
    padding-top: 40px;
}
    
.title h1 { 
    font-size: 2.5rem; 
    padding-bottom: 31px;
}
        
.infosignup {
    padding-top: 0px;
}

.infosignup p { 
    padding-bottom: 21px; 
}
        
.submitform {
    padding-bottom: 94px;
}
.subscribebutton { 
    top: -1px;
    left: 25px;
}
 .placeholderposition { 
    left: 105px;
 }

  
footer { 
    display: flex;
    justify-content:space-between;
    margin-top: 7px;
}

.aloha-information { 
    text-align:left;
}

.social ul { 
    display: inline-block;
    text-align: center;
}

.social li { 
    text-align: right;
    display: flex;
    align-items: center;
}
  
.socialname { 
display: inline-block;
letter-spacing: normal;
}

}

@media screen and (min-width: 1200px) {

header { 
    flex-wrap: nowrap;
}
        
 body p {
    font-size: 16px; 
} 

.logoContainer { 
    flex-basis: 2%;
    margin-left: 42px;
}

.logo {
    height: 66px; 
}
   
.cart { 
    width: 63px;
}
       
nav {
    width: 60%;
    border: none;
    order: 2;
}

nav li { 
    padding: 20px;
}

nav ul { 
    border-top: none;
}

.cartContainer{
    order: 3;
    height: 99px;
    flex-basis: 7%;
}

.number-cart { 
    display: inline;
    background-color: red;
    Top: 18px;
    Right: 2%;
    width: 18px;
    border-radius: 40px;
    height: 21px;
    position: absolute;
    color: white;
    padding-left: 4px;
}

.hand-craftstyles {
    height: 250px;
    position: relative;
    padding-bottom: 0px;
}


.hand-craftstyles p { 
    position: absolute;
    top:49%; 
    left:50%;
    width:600px;
    margin-left: -300px;
} 

 .tabletbreak {
     display: none;
 }

.deskstopbreak { 
    display: inline;
}

.breakmobile  { 
    display: none;
}


.hero {  
    height: 531px;
    background-size: cover, 242px, contain;
    background-position: center, center 62px, center;
}

.hero p { 
    top: 39%;
    width: 175px;
    left: 52%;
    font-size: 19px;
}


.hero h1 {
    top: 48%;
    width: 834px;
    left: 16%;
    font-size: 3.7rem;
}

.products-container {
    position: relative;
    width: 100%;
    height: auto;
}
    

    
.product-categories { 
    display:flex;
    flex-direction: column;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}
    

.product {
    font-size: 35px;
}

.categories {
    padding-top: 12px;
}
.row-spacer { 
    margin: 3px;
}
    
.column-spacer { 
    margin: 3px;
}
    
.rotate-spacer {
    margin: 3px;
}
    
.carousel-cell {
    width: 25%;
    height: 540px;
}

.categories { 
    font-size: 12px;
    margin-top: -25px;
}

.most-loved { 
    height: 540px;
    margin-top: 15px;
}



.productname { 
    width: 250px;
    margin-left: 30px;
    text-align: center;
}

.price { 
    font-size: 12px;
}

.addcartbutton { 
    display: inline;
    margin-top: 21px;
}


.sign-up-container {  
    background-size: cover;
    background-position: bottom; 
    color:white;
    padding-top: 49px;
}



.title h1 { 
    text-align: center; 
    font-size: 2rem; 
    padding-bottom: 28px;
}
    
.submitform {
    padding-bottom:57px;
    
}

 .placeholderposition { 
    left: 120px;
} 
   
  .subscribebutton { 
    left: 40px;
}  

.aloha-information { 
    line-height: 1.5;
}
   
h6.contactandemail { 
    line-height: 4; 
}

h6.address {
    color: #969696;
}


.social li { 
    list-style: none;
}
  


}
