body {
    margin: 0;
    padding: 0;
}

header { 
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    height: 110px;
    background-color: white;
    z-index: 1;
    position:fixed; 
    top: 0;
 }
  
.logocontainer { 
    display: flex;
    margin-left: 15px; 
    flex: 0 1 30%;
    height: 70px;
    align-items: center;
    justify-content: left;
    align-self: center;
}

.logo {
    height: 50px; 
}


nav {
    display: flex;
    text-align: center;
    order: 3;
    justify-content: center;
    width: 100%;
}

nav ul { 
    border-top: 1px solid #d7d7d7;
    width: 96%;
    font-weight: 400;
}

nav li {
    display: inline-block;
    padding: 10px;
    color:#e2574c;
    flex-basis: 20%;
    text-transform: uppercase;
}

nav a { 
    text-decoration: none;
    color:#e2574c;
}

nav a:hover {

    color: #b64036;
}

.cartcontainer  { 
    width:50px;
    flex-basis: 14%;
    display: flex;
    justify-content: left;
    height: 73px; 
}
      
.cart { 
    width: 50px; 
}

.container { 
    margin-top:110px;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg); /* on the bottom */
    background-repeat: no-repeat, no-repeat, repeat-x;
    background-position: center, center 63px , center;
    background-size: cover, 159px, cover;
    height:424px;
}



.hero p { 
    text-align: center;
    font-size: 17px;
    line-height: 2;
    color: white;
    text-transform: uppercase;
    position: absolute;
    left: 56%;
    width: 165px;
    margin-left: -107px;
    top: 42%;
    font-weight: 500;
}

.hero h1 { 
    text-align: center;
    font-size: 2.5rem; 
    color: white;
    position: absolute;
    left: 17%;
    top: 49%;
    width: 271px;
    font-weight: 500;
}


.breakmobile { 
    display: inline-block;
}


.tabletbreak { 
    display: none
}
.deskstopbreak { 
    display: none;
}


.number-cart { 
    display: none;
}

    
.hand-craftstyles { 
    padding:20px; 
}

.hand-craftedinitalic { 
    font-style: italic;
}

.stylesinbold { 
     font-weight: bold;
}


.hand-craftstyles h1 { 
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;
}

.hand-craftstyles p { 
    text-align: center;
    line-height: 2;
    padding-bottom:20px;
} 

.products-container {
    position: relative;
    width: 100%;
}


.products-container:before {
    content:"";
    display: block;
    padding-top: 200%;
}


.product-categories { 
    display:flex;
    flex-direction: column;
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;
}

.categories-row { 
    display: flex;
    flex-direction: row;
    flex: 1 0;
}


.categories-row-or-col { 
    display: flex;
    flex-direction: column;
    flex: 1 0;
}


.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 22px;
    font-weight:450;
    
    flex: 1 0;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.row-spacer { 
   margin: 5px;
}

.column-spacer { 
    margin: 5px;
}

.rotate-spacer {
    margin: 5px;
}

.mens {
    background-image:linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)), url(../images/mens-category.jpg);
}

.trends { 
    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url(../images/trends-category.jpg);
}

.glasses { 
    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)),url(../images/glasses-category.jpg);
}

.sale { 
    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)), url(../images/sale-category.jpg);
}
    
.bags { 
    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)), url(../images/bags-category.jpg);    
}

.women { 
    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)), url(../images/womens-category.jpg);

}

           
.products-title { 
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 2rem;
} 
           
.mostlovedinitalic { 
    font-style: italic;
}
          
.productsinbold { 
    font-weight: bold;
 }

.most-loved { 
    height: 450px;
    text-align: center;
    line-height: 2;
    padding-bottom: 50px;
    margin-bottom: 25px;
    /* overflow: hidden; */
    width: 100%;
}

.carousel-cell {
    width: 100%;
    
}

.productname { 
    color:#e2574c;
    font-size: 22px;
}

 .categories {
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    color:#969696
}      

.price { 
    font-weight: bold;
    font-size: 11px;
    color:#969696
}

.addcartbutton { 
    display: none;
    color: white;
    background: black;
    position: relative;
    height: 39px;
    width: 132px;
    font-size: 16px;
   
}

.flickity-page-dots {
    top: 93%;
}


.sign-up-container {  
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)), url(../images/wave-bkgd.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom; 
    color:white;
    padding-top:55px;
}

.signupinitalic { 
    font-style: italic;
}

.updatesinbold { 

    font-weight: bold;

}
.title h1 { 
    text-align: center; 
    font-size: 2rem; 
}

.infosignup {
    padding-top: 29px; 
}

.infosignup p { 
    text-align: center; 
    line-height: 2;
    padding-bottom: 23px;
}
 


.submitform {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 61px;
    padding-right:176px;
}

input { 
    border: none;
    padding: 10px;
    border-radius: 35px;
    position: absolute;
    font-family: 'Raleway';
    font-weight: lighter;
} 

.placeholderposition { 
    left: 74px;
}


    
.subscribebutton { 
    color:white;
    border-radius:25px;
    background:#e2574c;
    position: relative;
    height: 27px;
    top: 3px;
    z-index: 2;
    left: 210px;
    padding-top: 6.5px;


    
}

footer { 
    padding-top: 50px;
    padding-bottom: 50px; 
    padding-right: 30px;
    padding-left:30px;
    margin-top: 8px;
    color: white;
    background-color:#242424;
    line-height: 2;
}

.aloha-information { 
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
    color:white;
    font-weight: bold;
}

   
h6.contactandemail { 
    line-height: 4; 
}

.email {
    text-decoration: underline;
}

h6.address {
    color: #969696;
}

.social ul { 
    display: flex;
    justify-content: center;
    margin-left: 37px;

}
.social li { 
    list-style: none;
    display: inline-block;
    letter-spacing: 20px;
}

.socialname { 

    display:none;

}