



body {
    margin: 0;
    padding: 0;
   
}
  header { 
  display: flex;
  justify-content: space-between;
  /* margin-top: 20px; */
  flex-basis: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  height: 110px;
 }
  

/*project begins below */  


.logocontainer { 
   /* position: relative;*/
    display: flex;
     margin-left: 15px; 
    flex: 0 1 30%;
    height: 70px;
    align-items: center;
    /* justify-content: left;
    align-self: center; */
    /* right:30px; */
    /* flex: 0 1 50%; 1 0 50%  desktop */
    justify-content: left;
    align-self: center;

}

.logo {
    height: 50px; 
    
    }


nav {
    display: flex;
    text-align: center;
    order: 3;
    justify-content: center;
    width: 100%;
  /*  margin: 10px;*/
  /* margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px; */
    /* border-top: 1px solid #d7d7d7; */
    
    }

    nav ul { 

        border-top: 1px solid #d7d7d7;
        width: 96%;
    }
nav li {
    display: inline-block;
    padding: 10px;
    color:#e2574c;
    flex-basis: 20%;
    text-transform: uppercase;
}

nav li:hover {

    color: #b64036;
}
.cartcontainer  { 
    /* position: relative;  */
    width:50px;
    flex-basis: 14%;
    display: flex;
    justify-content: left;
    height: 73px; /*70px;*/

    /* width: 50px;
    align-self: flex-end;
    left:82px;
    flex-basis: 20% */
}
      
.cart { 
    /* display: flex; */
    width: 50px; 
    /*100%;*/
}

/*
    .firstcontainer { 
        width: 1240px;

            .hero {
        background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(images/banner-girl.png), url(images/flower-bkgd.jpg); 
        background-repeat: no-repeat;
        padding:150px;
        background-position: center, center 110px, center;
        background-size: 100%, contain, 100%;
    
    */
    /* on the bottom */
/*
.container { 
 min-width: 600px;

}

*/

    .hero {
        background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(../images/banner-girl.png), url(../images/flower-bkgd.jpg); /* on the bottom */
        background-repeat: no-repeat, no-repeat, repeat-x;
       /* padding:125px;*/
       /* padding: 209px 90px 110px 62px;*/    
       /*padding: 149px 71px 114px 62px;*/
       /* padding: 151px 3px 115px 56px; */
        background-position: center, center 63px /*90px*/, center;
        /* background-size: cover,229px 200px, cover; */
        background-size: cover, 159px, cover;
    

        height:424px;


    }

.hero h1 { 

        text-align: center;
        font-size: 2.5rem; 
        /* padding-bottom: 120px;
        padding-top: 10px; */
        color: white;
        position: absolute;
        left: 49px;
        top:300px;
        width: 79%;

        

        
}
.hero h2 { 
        text-align: center;
        font-size: /*2rem;*/ 1.5rem;
        line-height: 2;
        color: white;
        /* margin-top: 47px;
        padding-right:70px; - change position*/

         position: absolute;
         left: 50%;
         width: 47%;
         margin-left:-24%;
         top:34%


}

.tabletbreak { 
    display: none
}
.deskstopbreak { 
    display: none;
}

.breakmobile { 

    display: inline-block;
}
      
      /*flexbox
   
      .page-wrapper {
        text-align: right;
        position: absolute;
      } 
*/
      
      /*
    .number-cart { 
    background-color: red;
    Top: 0px; 
    Right: 0%;
    position:absolute;
    */

    

     .hand-craftstyles { 
         padding:20px; 
     }

     .hand-craftedinitalic { 
           
        font-style: italic;

     }

     .stylesinbold { 
     
        font-weight: bold;
     }
/*desktop
    .hand-craftstyles h1 { 
        padding: 50px;
        text-align: center; 
        font-size: 2rem;



    }

    */


    .hand-craftstyles h1 { 
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 2rem;


    }

    .hand-craftstyles p { 
        text-align: center;
       line-height: 2;
       padding-bottom:20px;
     } 
/* desktop
    .hand-craftstyles p { 
       margin: 10px;
       padding:  40px; 10px desktop;
       text-align: center;
      line-height: 2;
    } */

  



.products-container {
    position: relative;
    width: 100%;
}

/*aspect ratio: width = w height = 50% of W.  pseudo-element is the trick
being the emplty block BEFORE the container of the.productcatergories element. in order to portray
the same size of the .productcatergories. positioned the product-categories
to absolute so that it won't move . now product catogries takes up the whole space with
measurements = 0

*/
.products-container:before {
    content:"";
    display: block;
    padding-top: 200%;
}


.product-categories { 
    display:flex;
    flex-direction: column;
    /*height: 600px;*/
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;


}

.categories-row { 
    display: flex;
    flex-direction: row;
    flex: 1 0;
}


.categories-row-or-col { 
    display: flex;
    flex-direction: column;
    flex: 1 0;
}


.product {
    /* stuff related to text within container */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 30px;

    /* flex growing of this product vs. other products */
    flex: 1 0;

    /*background properties*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.row-spacer { 
    /*height: 3px;*/
    margin: 5px;
}

.column-spacer { 
   /* width: 3px; */
    margin: 5px;

   
}

.rotate-spacer {
  /*  width: 3px;
     */
    margin: 5px;

   
}

.mens {
    background-image: url(../images/mens-category.jpg);
}

.trends { 
    background-image: url(../images/trends-category.jpg);
}

.glasses { 
    background-image: url(../images/glasses-category.jpg);
}

.sale { 
    background-image: url(../images/sale-category.jpg);
}
    
.bags { 
    background-image: url(../images/bags-category.jpg);    
}

.women { 
    background-image: url(../images/womens-category.jpg);

}

    

           
.products-title { 
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 2rem;

} 
           
.mostlovedinitalic { 
    font-style: italic;
}
          
.productsinbold { 
    font-weight: bold;
 }

.most-loved { 
    text-align: center;
    line-height: 2;
    padding-bottom: 50px;
  /*  flex-flow: row wrap; 
    justify-content: space-between;
    align-items: flex-start;*/
}

.productname { 
    color:#e2574c;
}

.productname:hover {

    color: #b64036;

}

 .categories {
    text-transform: uppercase;
    /* font-size: 10px; */
    color:#969696
}      

.price { 
    /* font-size: 10px; */
    color:#969696
}

/*




.sign-up { 
    padding-top: 100px;
    
    background-position: bottom;
    
    b
    padding-bottom: 100px;
    text-align: center;
    color: white;

}

*/


.sign-up-container {  
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15)), url(../images/wave-bkgd.jpg);
    background-repeat: no-repeat;
    background-size: auto;/*cover;*/
    background-position: bottom; 
    color:white;
    padding-top:55px;
}

.signupinitalic { 
    font-style: italic;
}

.updatesinbold { 

    font-weight: bold;

}
.title h1 { 
    text-align: center; 
    font-size: 2rem; 
}

.infosignup {
    padding-top: 29px; /* 20px;*/
}

.infosignup p { 
    
    text-align: center; 
    line-height: 2;
    padding-bottom: 10px;
}
 


.submitform {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 61px;
    padding-right:176px;


}

input { 

    border: none;
    padding: 10px;
    border-radius: 35px;
    position: absolute;
  
}

    

button { 
    color:white;
    border-radius:25px;
    background:#e2574c;
    position: relative;
    padding: 8px 10px;
    z-index: 2;
    left:190px;
}

footer { 
    
    padding-top: 50px;
    padding-bottom: 50px; 
    padding-right: 30px;
    padding-left:30px;
    margin-top: 8px;
    color: white;
    background-color:#242424;
    line-height: 2;
}

.aloha-information { 

    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
    color:white;
    font-weight: bold;
}

   
p.contactandemail { 
    line-height: 4; 
}

p.address {
    color: #969696;
}

.social ul { 

    display: flex;
    justify-content: center;
}
   
.social li { 
    
    list-style: none;
     display: inline-block;
     letter-spacing: 20px;
     
     
}

.socialname { 

    display:none;

}