


@media screen and (max-width: 600px) {
    body { 
    font-size: 14px; 
    
    }

.categories-row-or-col { 
    display: flex;
    flex-direction: column;
    flex: 1 0;
}


.rotate-spacer {
   height: 5px;
}
.row-spacer { 
    height: 5px;
}
.column-spacer { 
    width: 5px;
}

.products-container:before {
    padding-top: 200%;
}



}

@media screen and (min-width: 600px) {

    body { 
    font-size: 16px; 
    } 
} 


@media screen and (min-width: 1200px) {
 
    body {
    font-size: 16px; 
    color: #2d2d2d;

    } 

/*
.most-loved { 
    display: flex; 
    flex-direction: row;
    align-items: 
} */






}  
 
