



body {
    margin: 0;
    padding: 0;
}
  header { 
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
 

  }
  

/*project begins below */  
   .logo {
       height: 50px; 
       padding-right: 15px;
       align-self: center;
       order: 0;
        
    }

.nav li {

    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color:#e2574c;
    
    
}

.nav {
    text-align: center;
    order: 2;
    flex: 0 1 50%;
    }


    .firstcontainer { 
        width: 1240px;
    }

    .hero {
        background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(images/banner-girl.png), url(images/flower-bkgd.jpg); /* on the bottom */
        background-repeat: no-repeat;
        padding:150px;
        background-position: center, center 110px, center;
        background-size: 100%, contain, 100%;
    
    }

.hero h1 { 

        text-align: center;
        font-size: 60px; 
        padding-bottom: 120px;
        color: white;
}
.hero p { 
        text-align: center;
        font-size: 22px;
        line-height: 2;
        color:white;
}

      
      /*flexbox
   
      .page-wrapper {
        text-align: right;
        position: absolute;
      } 
*/
      .cartcontainer  { 
      position: relative; 
      width: 50px;
      order: 1;
      align-self: flex-end;
      padding-left: 120px;
    
         
      }

    .cart { 
        width: 100%;
      }
    .number-cart { 
    background-color: red;
    Top: 0px; 
    Right: 0%;
    position:absolute;
    

    }

     .hand-craftstyles { 
         padding:20px; 
     }

     .hand-craftedinitalic { 
           
        font-style: italic;

     }

     .stylesinbold { 
     
        font-weight: bold;
     }

    .hand-craftstyles h1 { 
        padding: 50px;
        text-align: center; 
        font-size: 15px;



    }

    .hand-craftstyles p { 
       margin: 10px;
       padding: 10px;
       text-align: center;
;      font-size: 18px;
    }
    
    

    /*
.middlenav {
    display:flex;
    flex-flow: row wrap; 
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    font-size: 30px;
    margin: 1px;
    text-align:center;
}

*/


.products-container {
    position: relative;
    width: 100%;
}

/*aspect ratio: width = w height = 50% of W.  pseudo-element is the trick
being the emplty block BEFORE the container of the.productcatergories element. in order to portray
the same size of the .productcatergories. positioned the product-categories
to absolute so that it won't move . now product catogries takes up the whole space with
measurements = 0

*/
.products-container:before {
    content:"";
    display: block;
    padding-top: 50%;
}

.product-categories { 
    display:flex;
    flex-direction: column;
    /*height: 600px;*/
    position: absolute;
    left:0;
    top:0;
    bottom:0;
    right:0;


}

.categories-row { 
    display: flex;
    flex-direction: row;
    flex: 1 0;
}

.categories-row-or-col { 
    display: flex;
    flex-direction: row;
    flex: 1 0;
}

.product {
    /* stuff related to text within container */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: white;
    font-size: 30px;

    /* flex growing of this product vs. other products */
    flex: 1 0;

    /*background properties*/

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.row-spacer { 
    /*height: 3px;*/
    margin: 5px;
}

.column-spacer { 
   /* width: 3px; */
    margin: 5px;

   
}

.rotate-spacer {
  /*  width: 3px;
     */
    margin: 5px;

   
}

.mens {
    background-image: url(images/mens-category.jpg);
}

.trends { 
    background-image: url(images/trends-category.jpg);
}

.glasses { 
    background-image: url(images/glasses-category.jpg);
}

.sale { 
    background-image: url(images/sale-category.jpg);
}
    
.bags { 
    background-image: url(images/bags-category.jpg);    
}

.women { 
    background-image: url(images/womens-category.jpg);

}

    
/*
    
    .middlenav  {
        margin: 2px;
        padding: 0;
        background-color: blue;
       
        
   
        
        

        }
    
        .middlenav {
        display:flex;
        flex-flow: row wrap; 
        justify-content: flex-start;
        align-items: center;
        padding: 5px;
        font-size: 30px;
        margin: 1px;
        text-align:center;
        }
       

        .middlenav li.men { 
        color:white;
        text-align: center;
        padding:149px;
         background-image: url(images/mens-category.jpg);
         background-repeat: no-repeat;
         background-size: contain;
         background-position: left;
         width: 400px;
       
       


        }

        .middlenav li.trends { 
            color:white;
            text-align: center;
            background-image: url(images/trends-category.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 250px;
            width: 250px;
            padding: 40px;
   
           }

           .middlenav li.glasses { 
            text-align: center;
            color:white;
            background-image: url(images/glasses-category.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 250px;
            width: 300px;
            margin:5px;
            flex: 1 1 25%;
            padding: 10px;
   
           }

           .middlenav li.sale { 
            text-align: center;
            color:white;
            background-image: url(images/sale-category.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 200px;
            width: 200px;
            padding: 10px;
            margin:5px;
            flex: 1 1 25%;
           }
           .middlenav li.bags { 
            text-align: center;
            color:white;
            background-image: url(images/bags-category.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            height: 200px;
            width: 200px;
            padding: 10px;
            margin:5px;
            flex: 1 1 25%;
           }
           .middlenav li.women { 
            text-align: center;
            color:white;
            background-image: url(images/womens-category.jpg);
            background-repeat: no-repeat;
            background-size: contain;
            height:200px; 
            width:400px; 
            background-position: center;
            padding: 10px;
            margin:5px;
            flex: 1 1 40%;

   
           }

           */
           
.products-title { 
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;

} 
           
.mostlovedinitalic { 
    font-style: italic;
}
          
.productsinbold { 
    font-weight: bold;
 }

.most-loved { 
    display: flex; 
    justify-content: center;
    text-align: center;
    line-height: 2;
    padding-bottom: 50px;
  /*  flex-flow: row wrap; 
    justify-content: space-between;
    align-items: flex-start;*/
}

.productname { 
    color:#e2574c;
}

 .categories {
    text-transform: uppercase;
    font-size: 10px;
    color:#969696
}      

.price { 
    font-size: 10px;
    color:#969696
}


.sign-up { 
    padding-top: 100px;
    background-image: url(images/wave-bkgd.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
    text-align: center;
    color: white;

}

.signupinitalic { 
    font-style: italic;
}
.sign-up h1 { 

    text-align: center; 
    padding-bottom: 15px;
     
}

.title {

    
}

.signupinfo { 
    text-align: center; 
    line-height:2;
}
 
form {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

input { 

    border: none;
    padding: 10px;
    border-radius: 35px;
    position: absolute;
  
}

    

button { 
    color:white;
    border-radius:25px;
    background:#e2574c;
    position: relative;
    padding: 6px 10px;
    z-index: 2;
    left:94px;
}

footer { 
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    padding-bottom: 50px; 
    padding-right: 30px;
    padding-left:30px;
    margin-top: 5px;
    color: white;
    background-color:#242424;
    line-height: 2;
}

.aloha-information { 

    line-height: 1.5;
}
   
p.contactandemail { 
    line-height: 4; 
}

p.address {
    color: #969696;
}
   
.social li { 
    text-align: right;
    list-style: none;
     
     
     
}